@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}



/* стили для шапки сайта */
.logo {
  font-weight: 600;
  font-size: 20px;
}

.nav {
  float: right;
  list-style: none;
}

li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

li:hover {
  opacity: 0.5;
}

.presentation {
  margin: 50px 0;
  background: url('./img/bg.jpg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply; /* накладываем цвет на изображение */
  background-color: #bcbcbc;
  position: relative;
}

.presentation::after {
  content: 'Лучшие товары для вашего дома';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.presentation::before {
  content: 'По низким ценам';
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}



/* стили для блока с товарами */
.Product__items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Product__item-box {
  width: 30%;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

.Product__item-img {
  width: 100%;
  height: 384px;
  border-radius: 10px;
  transition: transform 500ms ease;
}

.Product__item-img:hover {
  transform: scale(1.05);
}

.Product__item-title, .Product__item-desc, .Product__item-price {
  margin: 10px 20px;
  color: #333;
}

.Product__item-price {
  font-weight: 600;
  color: #5fa36a;
}

.add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

.add-to-cart:hover {
  transform: scale(1.2);
}



/* стили для футера сайта */
footer {
  text-align: center;
  margin-top: 100px;
}